.bg-darkalt {
    background-color: #2f2f2f;
}

.bg-yellowalt {
    background-color: #FFC731;
}


/* button:hover .form {
    background: #FFC731;
    color: #2f2f2f;
    cursor: pointer;
    border-style: none;
} */


/* .bg-dark-articles:hover {
    background: #2f2f2f;
    color: #FFFFFF;
    cursor: pointer;
}

.bg-yellow-news:hover {
    background: #FFC731;
    color: #2f2f2f;
    cursor: pointer;
} */

.nav-blog li a:active {
    border-bottom: 4px solid #FFC731;
}

.nav-blog li a:hover {
    border-bottom: 4px solid #FFC731;
}

.rounded-alt {
    border-radius: 2rem !important;
}

.rounded-top-alt {
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
}

.text-yellow {
    color: #FFC731
}