* {
    box-sizing: border-box;
}

.bg-dark {
    background-color: #2f2f2f;
}

.text-white {
    color: #FFFFFF;
}

.text-yellow {
    color: #FFC731;
}


/*Header*/

.header {
    overflow: hidden;
    padding: 20px 10px;
    height: auto;
}

.header a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    line-height: 18.75px;
    display: inline;
}

.header img.logo {
    width: 241.17px;
    margin-left: 65.33px;
}

.header .navbar a:hover,
a:active {
    border-bottom: 4px solid #FFC731;
}

.header-right {
    float: right;
}

.navbar a {
    padding: 12px 28px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
    }
    .header-right {
        float: none;
    }
}


/*Profil*/

.profil {
    align-items: center;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-style: normal;
    margin-left: 337px;
    margin-right: 337px;
    margin-bottom: 108px;
    margin-top: 108px;
}

.profil img {
    width: 765px;
    height: 467px;
    border-radius: 50px;
}

.profil h1 {
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
    line-height: 37px;
    font-weight: 700;
    font-size: 32px;
}

.profil button {
    height: 39px;
    width: 82px;
    align-items: center;
    background-color: #474443;
    color: #FFFFFF;
}

.profil p.bold {
    font-weight: bold;
}


/*News*/


/*In News*/

.news-in {
    font-family: Roboto, sans-serif;
    margin-left: 91px;
}

.news-in h1 {
    width: 694px;
    margin: 75px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: #474443;
    line-height: 75px;
}

.news-in h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #474443;
    line-height: 37px;
    align-items: center;
    text-align: center;
}

.news-in-left {
    float: left;
}

.news-in-left img {
    width: 741px;
    height: 454px;
}

.news-in-left p {
    width: 741px;
    margin-top: 84px;
}

.news-in-right {
    float: right;
    width: 444px;
    margin-right: 96px;
    margin-top: auto;
}

.news-in-right h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #474443;
    line-height: 28px;
}

.news-in-right-item {
    display: flex;
    flex-wrap: wrap;
}

.news-in-right-popular {
    width: 444px;
    height: 132px;
    margin-top: 20px;
}

.news-in-right-popular-detail {
    width: 265px;
    float: left;
}

.news-in-right-popular-detail h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    height: 125px;
    color: #474443;
    line-height: 28px;
    margin: 0;
}

.news-in-right-popular-img {
    width: 179px;
    float: right;
}

.news-in-right-popular-img img {
    width: 179px;
    height: 132px;
}


/*In Article*/

.article-in {
    font-family: Roboto, sans-serif;
    margin-left: 91px;
}

.article-in h1 {
    width: 694px;
    margin: 75px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: #474443;
    line-height: 75px;
}

.article-in h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #474443;
    line-height: 37px;
    align-items: center;
    text-align: center;
}

.article-in-left {
    float: left;
}

.article-in-left img {
    width: 741px;
    height: 454px;
}

.article-in-left p {
    width: 741px;
    margin-top: 84px;
}

.article-in-right {
    float: right;
    width: 400px;
    margin-right: 96px;
    margin-top: auto;
}

.article-in-right h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #474443;
    line-height: 28px;
}

.article-in-right-item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    list-style: none;
}

.article-in-right-popular {
    width: 400px;
    height: 132px;
    margin-top: 10px;
}

.article-in-right-popular-detail {
    width: 191px;
    float: left;
}

.article-in-right-popular-detail h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #474443;
    line-height: 28px;
    margin: 0;
}

.article-in-right-popular-detail p {
    font-style: normal;
    font-size: 18px;
    color: #474443;
    line-height: 21px;
    margin: 10px 0 0 0;
}

.article-in-right-popular-img {
    width: 179px;
    float: right;
}

.article-in-right-popular-img img {
    width: 179px;
    height: 132px;
}


/*Footer in footer.php*/