.bg-darkalt {
    background-color: #2f2f2f;
}

.bg-yellowalt {
    background-color: #FFC731;
}

.nav-blog ul li a:hover {
    border-bottom: 4px solid #FFC731;
}

.rounded-alt {
    border-radius: 2rem !important;
}

.rounded-top-alt {
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
}

.text-yellow {
    color: #FFC731
}

/*header*/
.nav ul{
    display: flex;
}
.nav ul li a{
    padding: 1rem;
    text-decoration: none;
    color: white;
}
